// viewports
$mobiles: 280px;
$tablets: 768px;
$desktop: 1100px;

@mixin mobile {
    @media (min-width: #{$mobiles}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 2em;
    z-index: 999999;
    background-color: #26823A;
    color: #fff;
    @include tablets{
        padding: 2em 4em;
    }
    nav{
        display: none;
        @include tablets{
            display: unset;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
        li{
            list-style: none;
            font-size: 15px;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        a{
            margin: 0 12px;
        }
    }
    .extra_links{
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}